body {
    margin: 0;
    overflow-y: hidden;
    background-color: #eee;
}

/*INITIAL SCREEN*/

.iscreen-button {
    color: #000;
    background-color: #ddd;
    font-size: 16px;
    outline: none;
    font-family: sans-serif;
    border: 0;
    width: 50%;
    margin-top: 7%;
    text-transform: uppercase;
    border-radius: 2px;
    height: 8%;
    cursor: pointer;
}

.iscreen-button:hover {
    background-color: #ccc;
}

.iscreen-h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.iscreen-input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 80%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.iscreen-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.iscreen-div {
    position: absolute;
    background-color: #fff;
    width: 18%;
    height: 58%;
    border-radius: 3%;
    padding: 1%;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iscreen-info-p {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

.iscreen-p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.iscreen-register-p {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

#iscreen-info {
    top: 17.5%;
    left: 25%;
    justify-cntent: center;
    align-items: center;
}

#iscreen-login {
    top: 17.5%;
    left: 40%;
}

#iscreen-register {
    visibility: hidden;
    top: 10%;
    left: 40%;
    height: 78%;
}

#iscreen-register-birth {
    display: flex;
    flex-direction: row;
    margin: 3%;
    font-family: sans-serif;
}

#iscreen-register-gender {
    display: flex;
    flex-direction: row;
    margin: 3%;
    font-family: sans-serif;
}

/*CHAT SCREEN*/

#navbar {
    display: flex;
    height: 6vh;
    font-family: sans-serif;
    border-bottom: #aaa solid 1px;
}

#navbar-title {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: center;
    align-items: center;
    border-right: #aaa solid 1px;
}

#navbar-title-text {
    font-size: 2em;
}

#navbar-title-img {
    width: 1.7em;
    padding: 0.5em;
}

#navbar-chat-info {
    display: flex;
    flex-direction: row;
    width: 55vw;
    align-items: center;
}

#navbar-chat-info-img {
    width: 3em;
    margin: 0.5em;
}

#navbar-chat-info-name {
    font-size: 1.7em;
}

#navbar-chat-online {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 5vw;
    border-right: #aaa solid 1px;
}

#navbar-chat-online-text {
    font-size: 1em;
    margin-right: 0.4em;
}

#navbar-chat-search {
    display: flex;
    flex-direction: row-reverse;
    width: 20vw;
    align-items: center;
}

#navbar-chat-search-img {
    height: 2.5em;
    cursor: pointer;
}

#navbar-chat-search-input {
    height: 1.5em;
    width: 100%;
    padding: 0.2em;
    margin-left: 0.5em;
}

#app {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

#chat-list {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 94vh;
    border-right: #aaa solid 1px;
}

#chat-list-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-bottom: #aaa solid 1px;
}

#chat-list-search-input {
    height: 1.5em;
    width: 70%;
    padding: 0.2em;
}

#chat-list-search-img {
    height: 2em;
    cursor: pointer;
}

#chat {
    width: 80vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
}

#chat-messages {
    height: 88vh;
    border-bottom: #aaa solid 1px;
}

#chat-add-message {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-add-message-input {
    height: 2em;
    width: 100%;
    padding: 0.2em;
    margin-left: 0.5em;
}

#chat-add-message-img {
    height: 3em;
    cursor: pointer;
}

#chat-search {
    border-left: #aaa solid 1px;
}

.contactli {
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    word-wrap: normal;
    padding: 0.4em;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactli:hover {
    background-color: #eee;
}

.contactmessage-container {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    word-wrap: normal;
    padding: 0.4em;
    font-size: 1em;
    display: flex;
    flex-direction: row;
}

.contactmessage-container:hover {
    background-color: #eee;
}

/*
.friendli{
    cursor: pointer;
    font-family: verdana;
    font-size: 1em;
    text-align: center;
    word-wrap: normal;
    padding: 0.4em;
    border-bottom: 1px solid #999;
}

.friendli:hover{
    background-color: #ddd;
}

.friendmessage-container{
    cursor: pointer;
    word-wrap: normal;
    padding: 0.4em;
    border-bottom: 1px solid #999;
    font-size: 1em; 
    display: flex;
    flex-direction: column;
}

.friendmessage-container:hover{
    background-color: #ddd;
}

.friendmessage-message{
    font-style: italic;
}

.friendmessage-name{
    font-weight: bold;
}

.friendmessage-time{

}

.message{
    display: inline-block;
    padding:  0.5em 0.7em;
    margin: 0 0.3em 0.1em 0.3em;
    border: 0.16em solid;
    border-color: #333;
    border-radius: 2em;
    box-sizing: border-box;
    font-family: arial;
    color: #000;
    max-width: 40vw;
    word-wrap: break-word;
    font-size: 0.8em;
}

.optionspopup-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    background-color: #ddd;
    bx-shadow: 0.2em 0.2em #aaa;
}

.optionspopup-li{
    cursor: pointer;
    font-family: verdana;
    font-size: 1em;
    text-align: center;
    word-wrap: normal;
    padding: 0.4em;
    border-bottom: 1px solid #999;
}

.optionspopup-li:hover{
    background-color: #aaa;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999;
}

#app{
    display: flex;
    font-family: sans-serif;
}

#chat{
    flex-basis: 65%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: 94vh;
}

#chat-add-message{
    border: 1px solid #000;
    flex-basis: 6%;
}

#chat-messages{
    border: 1px solid #000;
    flex-basis: 94%;
    overflow-y: scroll;
}

#friend-list{
    flex-basis: 20%;
    border: 1px solid #000;
    height: 94vh;
}

#chat-list{
    flex-basis: 15%;
    border: 1px solid #000;
    height: 94vh;
    overflow-y: auto;
}

#navbar{
    position: sticky;
    display: flex;
    height: 6vh;
}

#navbar-chat-info{
    flex-basis: 65%;
    border: 1px solid #000;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    justfy-content: center;
}

#navbar-chat-info-img{
    width: 2em;
    margin: 0.3em;
}

#navbar-search{
    flex-basis: 20%;
    display: flex;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

#navbar-menu-img-search{
    height: 1.5em;
    cursor: pointer;
}

#navbar-menu-query{
    max-width: 14vw;
    padding:  0.1em 0.7em;
    margin: 0 0.3em 0.1em 0.3em;
    border: 0.16em solid rgba(255,255,255,0.5);
    border-color: #333;
    border-radius: 2em;
    box-sizing: border-box;
    color: #000;
    text-align: center;
}

#navbar-title{
    flex-basis: 15%;
    display: flex;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

#navbar-title-img{
    cursor: pointer;
    height: 1.3em;
    margin: 0.3em;
}

#navbar-title-text{
    font-size: calc(2vw);
}
*/